.timeline-container {

   display: flex
  
   ;
  
     flex-direction: column;
  
     width: 100%;
  
     margin: 40px auto;
  
     border-radius: 12px;
  
     border: 2px solid #262626;
  
     padding: 50px;
  
     background: #FFFFFF;
  
     box-shadow: 6px 6px 0px 2px #1E1E1E;
  
     position: relative;
  
   }
  
   .timeline-item {
    display: flex
;
    position: relative;
    margin-bottom: 40px;
    align-items: center;
    justify-content: space-between;
    width: 88%;
    margin-left: calc(100% - 88%);
}
.timeline-item::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 134%;
  background-color: #000000;
  left: calc(0% - 69px);
  top: 62%;
  outline: 4px solid #FFBE99;
}
  .timeline-item:last-child::before {
    content: "";
    position: absolute;
    width: 0px;
    height: 0%;
    background-color: #000000;
    left: -67777777777777777%;
    top: 62%;
}
  
  
  
  
  
  
  
   .timeline-year {
  
    width: 150px;
  
    text-align: center;
  
    padding-right: 0;
  
    position: relative;
  
   }
  
  
  
   .year-box {
  
    background-color: #FFFFFF;
  
    color: #262626;
  
    padding: 14px 14px;
  
    font-weight: bold;
  
    font-size: 1em;
  
    position: relative;
  
    display: flex;
  
    align-items: center;
  
    justify-content: space-between;
  
    gap: 20px;
  
    border-radius: 12px;
  
    border: 2px solid #262626;
  
    box-shadow: 6px 6px 0px 2px #1E1E1E;
  
  }
  
  .year-box::before {
    content: "";
    position: absolute;
    width: calc(50% - 6px);
    height: 2px;
    left: -50%;
    background-color: #000000;
    outline: 4px solid #FFBE99;
}
  
  
   .year-box img {
  
    width: 30px;
  
    height: auto;
  
   }
  
  
  
   .timeline-content {
  
    padding-left: 30px;
  
    width: 75%
  
   }
  
  
  
   .timeline-content h3 {
  
    margin-top: 0;
  
    color: #1A1A1A;
  
    font-size: 1.1em;
  
    font-family: "Raleway";
  
    font-weight: 700;
  
   }
  
  
  
   .timeline-content p {
  
    color: #333333;
  
    line-height: 1.4;
  
    font-size: 0.9em;
  
    font-family: "Outfit";
  
    font-weight: 500;
  
  }
  
  
  
  
   .timeline-year::before {
    content: '';
    position: absolute;
    top: 50%;
    left: calc(0% - 50%);
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    background-color: #fff;
    border: 2px solid #262626;
    border-radius: 50%;
    z-index: 1;
}


.timeline-year::after {
  content: '';
  position: absolute;
  top: 50%;
  left: calc(0% - 6px);
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  background-color: #fff;
  border: 2px solid #262626;
  border-radius: 50%;
  z-index: 1;
}
  
  
  
  
@media (max-width:1110px) {
  .timeline-item {
    align-items: flex-start;
    flex-direction: column;
    gap: 25px;
}
.timeline-content {
  padding-left: 0px;
  width: 100%;
}
.timeline-item::before {
  height: 120%;
  top: 18%;

}
.timeline-container {
padding: 50px 0px 50px 75px;
margin-bottom: 120px;
/* margin-left: -25px; */
}
}

@media (min-width:300px )and (max-width:440px){
  .timeline-item::before {
    height: 113%;
    top: 13%;
}

}

@media (min-width:440px )and (max-width:540px){
  .timeline-item::before {
    height: 114%;
    top: 16%;
}

}
  
  

